.env
.env.*
!.env.example

.venv/
.conda_env/
.conda_pkgs/
.conda_transnetv2_pkgs/
.conda_transnetv2_torch/
.conda_transnetv2_torch_pkgs/

workdir/
movies/
__pycache__/
.pytest_cache/
*.pyc

*.zip
*.mp4
*.mkv
*.mov
*.avi
*.flv
*.wav
*.aac
*.mp3
